*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.navbar{
    display: flex;
    flex-direction: row;
    padding: 17px 62px;
    top: 0;
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
}
.logo{
    width: 100px;
    height: 38px;
    padding: 9px 29px;
}
.line{
    border-left: 2px solid #ffffff;
    height: 55px;
}
.button-small{
    display: inherit;
    flex-direction:row;
    justify-content: flex-end;
    text-decoration: none;
    padding: 9px 29px;
    margin: 7px;
    margin-left: 460px;
    background-color: #ba0cc5;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    /* right: 0; */
}

.grow-list{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.list,.list-item{
    display: inherit;
    flex-direction: row;
    text-decoration: none;
    padding: 9px 29px;
    font-size: medium;
}

[aria-label="hero"]{
    background-image: linear-gradient(to bottom, rgba(0,0,0, .40), rgba(0,0,0, .40)), url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;}

.hero{
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}
.hero-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: #ffffff;
    max-width: 17ch;
}
.hero-description{
    color: #ffffff;
    font-size: 20px;
    padding: 1em;
    font-size: 1.4rem;
}
.button-large{
    display: inherit;
    flex-direction:row;
    justify-content: flex-end;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 9px 29px;
    font-size: large;
    background-color: #ba0cc5;
    color: #ffffff;
    border-radius: 10px;
    width: 15rem;
    border: none;
}